.createacoin-modal.modal {
	overflow-y: auto !important;
}
.createacoin-modal .modal-header {
	padding: 10px 15px;
}
.createacoin-modal .modal-footer .btn.pull-left {
	position: absolute;
	left: 0;
}
@media (min-width: 768px) {
	.createacoin-modal .modal-footer .btn.pull-left {
		left: 15px;
		bottom: 5px;
	}
}
.createacoin-modal .tab-content {
	font-size: 16px;
}
.createacoin-modal .modal-title .form-control {
	border: 0;
	box-shadow: none;
	padding: 0;
	font-size: 20px;
}
.createacoin-modal .modal-title i.fa-pencil-alt {
	position: absolute;
	left: 140px;
	top: 15px;
	color: #999;
}
.createacoin-modal .modal-title .form-control::-webkit-input-placeholder::after {
	content: "\f303";
}
.createacoin-modal .modal-title .verify-header {
	display: none;
}
.createacoin-modal .modal-title .dropdown {
	display: inline-block;
}
.createacoin-modal .modal-title .form-control::-webkit-input-placeholder,
.createacoin-modal .modal-title .form-control::-moz-placeholder {
	font-style: italic;
}
/*.createacoin-modal #nav-intro {*/
/*background: url("https://d30p8ypma69uhv.cloudfront.net/cryptokred-images/cowboy-customizing.jpg") 2% 110%/30% no-repeat;*/
/*}*/
.createacoin-modal #nav-validate a {
	font-size: 14px;
	color: #0056b3;
}
.createacoin-modal .coin-preview {
	cursor: pointer;
	position: relative;
	width: 350px;
	margin: 0 auto;
}
.createacoin-modal #nav-front .coin-preview,
.createacoin-modal #nav-back .coin-preview {
	margin: 1em auto;
	width: 300px;
}
.createacoin-modal #nav-front .modal-body,
.createacoin-modal #nav-back .modal-body{
	padding: 1em 0;
}
.createacoin-modal #nav-front .modal-body .upload-avatar,
.createacoin-modal #nav-back .modal-body .upload-avatar {
	border-radius: 100%;
	width: 18px;
	height: 18px;
	vertical-align: text-bottom;
	display: inline-block;
	background-size: cover;
	background-position: center;
}
.createacoin-modal #nav-front .row .col-4,
.createacoin-modal #nav-back .row .col-4{
	padding: 0 8px;
}
.createacoin-modal #nav-front .nav.nav-tabs .nav-item,
.createacoin-modal #nav-back .nav.nav-tabs .nav-item {
	width: auto;
}
.createacoin-modal #nav-front .nav.nav-tabs,
.createacoin-modal #nav-back .nav.nav-tabs {
	border-bottom: 1px solid #cacaca;
	margin-bottom: 10px;
	border-radius: 0;
}
.createacoin-modal #nav-front .nav.nav-tabs .nav-link,
.createacoin-modal #nav-back .nav.nav-tabs .nav-link {
	border: 0;
	font-size: 14px;
	color: #2862d9;
	background: #fff;
	box-shadow: none;
	margin: 0;
}
.createacoin-modal #nav-front .nav.nav-tabs .nav-link.active,
.createacoin-modal #nav-back .nav.nav-tabs .nav-link.active {
	border-bottom: 2px solid #377ef7 !important;
	font-weight: 700;
}
.createacoin-modal [data-hotspot] {
	width: 20px;
	height: 20px;
	border: 4px solid #007bff;
	border-radius: 10px;
	position: absolute;
	z-index: 2;
}
.createacoin-modal #nav-name .dropdown,
.createacoin-modal .dropdown {
	cursor: pointer;
	/*margin: 1em;*/
}
.createacoin-modal #nav-name .dropdown-menu,
.createacoin-modal .dropdown-menu {
	display: block;
	/*left: 40%;*/
}
.createacoin-modal #nav-name .dropdown-menu a,
.createacoin-modal .dropdown-menu a {
	padding: 0.25em 0.5em;
	display: block;
	background: none;
	color: #666;
	font-weight: 500;
	text-decoration: none;
}
.createacoin-modal [data-hotspot]:hover {
	background: #007bff;
}
.createacoin-modal [data-hotspot="name"] {
	top: 6%;
	left: 34%;
}
.createacoin-modal [data-hotspot="front"] {
	top: 69%;
	left: 34%;
}
.createacoin-modal [data-hotspot="rear"] {
	top: 64%;
	left: 70%;
}
.createacoin-modal [data-hotspot="value"] {
	top: 71%;
	left: 14%;
}
.createacoin-modal [data-hotspot="issue"] {
	top: 67%;
	left: 85%;
}
.createacoin-modal [data-hotspot="counter"] {
	top: 70%;
	left: 53%;
}
.createacoin-modal #nav-name .modal-footer {
	position: relative;
	height: 200px;
	overflow: hidden;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	border-radius: 0px 0 10px 10px;
}
.createacoin-modal #nav-name .coin-root {
	position: absolute;
	bottom: -180px;
	left: -30px;
	transform: scale(0.9, 1);
}
@media (min-width: 768px) {
	.createacoin-modal #nav-name .coin-root {
		bottom: -150px;
	}
}
.createacoin-modal .coin-preview .fa-cloud-upload-alt,
.createacoin-modal .coin-preview .recommended-text {
	position: absolute;
	text-align: center;
	width: 100%;
	left: 2%;
	top: 50%;
	z-index: 2;
	color: #fff;
	font-size: 80px;
	margin-top: -55px;
}
.createacoin-modal .coin-preview .recommended-text {
    font-size: 13px;
    margin-top: 30px;
}
.createacoin-modal .coin-preview input,
.createacoin-modal .btn input {
	display: none;
}
.createacoin-modal .modal-footer .coin-wrapper {
	transform: inherit;
}
.createacoin-modal .modal-footer {
	padding: 0 5px 5px;
}
.createacoin-modal .tooltip {
	z-index: 9999;
}
.createacoin-modal #imageSelectorContent {
	margin: 10px;
}
.createacoin-modal #nav-add .kitty-overlay {
	display: none;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 53%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.createacoin-modal #nav-add .front-coin:hover .kitty-overlay,
.createacoin-modal #nav-add .back-coin:hover .kitty-overlay {
	display: inline-block;
}
.createacoin-modal #nav-add .kitty-overlay .edit-coin-name {
	position: absolute;
	top: -75px;
	width: 80px;
	color: #ffffff;
	font-size: 20px;
	opacity: 0.8;
	cursor: pointer;
}
.createacoin-modal #nav-add .kitty-overlay .edit-coin-name i {
	text-shadow: 1px 1px 0 #999;
}
.createacoin-modal #nav-add input[type="number"]::-webkit-inner-spin-button,
.createacoin-modal #nav-add input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
	-moz-appearance: textfield !important;
}
.createacoin-modal #nav-add .modal-footer input[type="checkbox"] {
	transform: scale(1.2);
	vertical-align: middle;
	margin-right: 5px;
}
.createacoin-modal #nav-add .fas.fa-question-circle {
	vertical-align: top;
	font-size: 0.8em;
	margin-left: 2px;
}
.createacoin-modal .react-tagsinput {
	border: 1px solid #f1f1f1;
}
.createacoin-modal .react-tagsinput--focused {
	border-color: #f1f1f1;
}
.createacoin-modal .react-tagsinput-tag {
	background-color: #f1f1f1;
	border: 1px solid #666;
	padding: 5px 7px;
	color: #666;
	border-radius: 50px;
}
.createacoin-modal .react-tagsinput-input {
	color: #666;
	width: auto;
	min-width: 180px;
	text-align: left;
}
.createacoin-modal .row .col-form-label {
	padding-right: 10px;
}
.createacoin-modal #create-a-coin-cointype-contents .row .col-form-label {
	padding: 5px;
}
.createacoin-modal #create-a-coin-cointype-contents .form-group {
	margin-bottom: 10px;
}
.createacoin-modal #create-a-coin-cointype-contents .tagline-container {
	padding: 15px 5px 0;
}
.createacoin-modal #create-a-coin-cointype-contents .tagline-container div.col div p:first-child {
	margin-bottom: 5px;
}
.createacoin-modal #create-a-coin-cointype-contents .create-a-coin-cointype-form .form-group p {
	margin: 7px 0 0;
}
.createacoin-modal #create-a-coin-cointype-contents .fa-gem {
	color: #0062cc;
}
.createacoin-modal .custom-control .custom-control-label span {
	vertical-align: sub;
	display: unset;
	margin-top: 0;
}
.createacoin-modal .custom-control .custom-control-label p:first-child {
	margin-bottom: 0;
	vertical-align: sub;
	display: inline-block;
	margin-top: 0;
}
.createacoin-modal .custom-control .custom-control-label p {
	margin-bottom: 5px;
}
.createacoin-modal .carousel .carousel-control-prev,
.createacoin-modal .carousel .carousel-control-next {
	color: #cacaca;
	font-size: 25px;
}
.createacoin-modal #create-a-coin-template,
.createacoin-modal #create-a-coin-advanced,
.createacoin-modal #create-a-coin-cointype,
.createacoin-modal #create-a-coin-cointags {
	border: 1px solid #e9ecef;
	border-left: 0;
	border-right: 0;
	display: block;
	width: 100%;
	text-align: left;
	background: #fff;
	line-height: 3em;
	text-indent: 1em;
	cursor: pointer;
	margin-bottom: 10px;
	border-radius: 0!important;
}
.createacoin-modal #create-a-coin-cointype,
.createacoin-modal #create-a-coin-advanced {
	margin-bottom: 0;
	border-bottom: 0;
}
.createacoin-modal #create-a-coin-template::after,
.createacoin-modal #create-a-coin-advanced::after,
.createacoin-modal #create-a-coin-cointype::after,
.createacoin-modal #create-a-coin-cointags::after {
	content: "\025B4";
	float: right;
	margin-right: 1em;
}
.createacoin-modal #create-a-coin-template.collapse.show::after,
.createacoin-modal #create-a-coin-advanced.collapse.show::after,
.createacoin-modal #create-a-coin-cointype.collapse.show::after,
.createacoin-modal #create-a-coin-cointags.collapse.show::after {
	content: "\025BE";
}
.createacoin-modal #create-a-coin-template-contents,
.createacoin-modal #create-a-coin-advanced-contents,
.createacoin-modal #create-a-coin-cointype-contents,
.createacoin-modal #create-a-coin-cointags-contents {
	padding: 1em;
}
.createacoin-modal #create-a-coin-advanced-contents label {
	/*display: block;*/
}
.createacoin-modal #create-a-coin-advanced-contents input[type=number]::-webkit-inner-spin-button,
.createacoin-modal #create-a-coin-advanced-contents input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}
.createacoin-modal #create-a-coin-cointype .form-control {
	margin-bottom: 10px;
}
#createacoin-patterns {
	background: #f1f1f1;
}
#createacoin-patterns a {
	color: #C9C9C9;
}
#createacoin-patterns .carousel-item a {
	width: 75px;
	height: 75px;
	display: inline-block;
	border: 1px solid #c9c9c9;
	background: #fff;
	margin: 6px 3px;
	cursor: pointer;
}
#createacoin-patterns .carousel-inner {
	margin: 0 6%;
	width: 88%;
}
#createacoin-patterns .carousel-control-prev, #createacoin-patterns .carousel-control-next {
	width: 20px;
	color: #000;
	font-weight: bold;
}
#createacoin-patterns img {
	width: 80%;
	height: 80%;
	margin: 10%;
}
.createacoin-modal .royalties-container {
	background: #f1f1f1;
	margin-bottom: 10px;
}
.createacoin-modal .royalties-container .royalties-activate-container {
	padding: 10px;
}
.createacoin-modal .royalties-details-container {
	border-top: 1px solid #dcdcdc;
	padding: 10px 1.5em 0;
}
.createacoin-modal .royalties-container .ckr-payments,
.createacoin-modal .royalties-container .usd-payments {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #dcdcdc;
}
.createacoin-modal .royalties-container .eth-payments {
	padding-bottom: 15px;
}
.createacoin-modal .royalties-details-container .ckr-payments p {
	margin-bottom: 5px;
}
.createacoin-modal .royalties-details-container div.input-group {
	display: block;
}
.createacoin-modal .royalties-details-container .ckr-payments div.input-group:nth-child(n + 1),
.createacoin-modal .royalties-details-container .usd-payments div.input-group:nth-child(n + 1),
.createacoin-modal .royalties-details-container .eth-payments div.input-group:nth-child(n + 1) {
	margin-top: 5px;
}
.createacoin-modal .royalties-details-container div.input-group input {
	display: inline-block;
	border-radius: 5px;
}
.createacoin-modal .royalties-details-container div.input-group input[type="number"] {
	width: 50px;
}
.createacoin-modal .royalties-details-container div.input-group input[type="text"] {
	width: 200px;
}
.createacoin-modal .royalties-details-container div.input-group a {
	font-size: 12px;
	cursor: pointer;
	margin-left: 10px;
}
.imagecrop .imagecrop-cancel {
	display: none;
}
.createacoin-modal .template-container .template-item {
	vertical-align: bottom;
	display: inline-block;
	margin-bottom: 10px;
}
.createacoin-modal .template-container .template-item label {
	margin: 0;
}
.createacoin-modal .template-container .template-item i,
.createacoin-modal .template-container .template-item img {
	border-radius: 100%;
	background: #fff;
	padding: 10px;
	width: 40px;
	height: 40px;
	margin: 0 6px;
	cursor: pointer;
}
.createacoin-modal .template-container .template-item.unpadded img {
	padding: 0;
}
.createacoin-modal .template-container .template-item i {
	padding: 6px;
	font-size: 30px;
}
.createacoin-modal .template-container .template-item img {
	border: 1px solid #cacaca;
}
.createacoin-modal .template-container .template-item img:focus,
.createacoin-modal .template-container .template-item img:active {
	border-color: #377ef7;
	outline: none;
}
.createacoin-modal [data-drag-highlight="true"] {
	background: yellow;
}
.createacoin-modal .buyprice-table {
	margin: 25px -10px 15px;
}
.createacoin-modal .buyprice-table > .row {
	border-top: 1px solid #dee2e6;
}
.createacoin-modal .buyprice-table > .row p {
	margin: 10px 0;
}
.createacoin-modal .buyprice-table > .row .col-12 p {
	margin-top: -10px;
}
.createacoin-modal .buyprice-table > .row:last-child {
	border-bottom: 1px solid #dee2e6;
}
.createacoin-modal .coinprofile-share {
	margin: 0 10px;
	font-size: 20px;
	cursor: pointer;
}
