.giphy-search {
	margin-bottom: 15px;
}
.giphy-search .gif-image {
	background-size: cover;
	height: 120px;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	cursor: pointer;
}
.giphy-search .form-control {
	font-size: 14px;
	margin-bottom: 10px;
}