.giveacoin-modal { }
.giveacoin-modal .carousel .carousel-inner {
	width: 95%;
	margin: auto;
}
.giveacoin-modal #nav-intro .modal-body {
	height: 380px;
}
.giveacoin-modal .tab-pane .modal-body .close {
	position: absolute;
	top: 10px;
	right: 0;
}
@media (max-width: 767.98px) {
	.giveacoin-modal .carousel-control-next,
	.giveacoin-modal .carousel-control-prev {
		width: 2%;
	}
}
@media (min-width: 768px) {
	.giveacoin-modal .carousel .carousel-inner {
		width: 75%;
	}
}
.giveacoin-modal .carousel .carousel-control-prev,
.giveacoin-modal .carousel .carousel-control-next {
	color: #cacaca;
	font-size: 25px;
}
.giveacoin-modal .carousel .carousel-item .badge {
	position: absolute;
	text-transform: uppercase;
	top: 35px;
	right: 25px;
	z-index: 3;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 15px;
	box-shadow: 0 0 2px 0 rgba(102, 102, 102, 0.5);
	background: #fff;
}
.giveacoin-modal .input-group .input-group-prepend {
	margin-right: -4px;
}
.giveacoin-modal .input-group .input-group-prepend .input-group-text {
	background: transparent;
	padding-right: 0;
	font-weight: bold;
}
.giveacoin-modal .input-group .form-control {
	border-left: 0;
	height: 40px;
}
.giveacoin-modal #nav-message textarea {
	margin-bottom: 10px;
}
.giveacoin-modal #nav-message label input[type="checkbox"] {
	transform: scale(1.2);
	margin-right: 5px;
}
.giveacoin-modal #nav-giver .modal-body {
	min-height: 350px;
}
.giveacoin-modal #nav-giver .giver-main-img {
	width: 250px;
}
.giveacoin-modal #nav-recipient p {
	margin-bottom: 0;
}
.giveacoin-modal #nav-recipient .recipient-container .form-row .col-1 {
	display: none;
}
.giveacoin-modal #nav-recipient .recipient-container .form-row:hover .col-1 {
	display: block;
}
.giveacoin-modal #nav-recipient .recipient-container i.fa-trash {
	display: block;
	margin-top: 10px;
	cursor: pointer;
}
.giveacoin-modal #nav-recipient .recipient-container .form-control {
	margin-bottom: 10px;
}
.giveacoin-modal #nav-recipient div > a {
	display: inline-block;
}
.giveacoin-modal .recipient-input {
	/*padding: 0;*/
	/*position: relative;*/
}
.giveacoin-modal .react-tagsinput {
	border: 0;
	padding: 0;
	display: unset;
}
.giveacoin-modal .react-tagsinput .react-tagsinput-tag {
	background-color: #f1f1f1;
	border: 1px solid #666;
	padding: 5px 7px;
	color: #666;
	border-radius: 50px;
}
.giveacoin-modal .react-tagsinput .react-tagsinput-input {
	width: 0;
}
.giveacoin-modal .Select {
	/*margin-bottom: 10px;*/
	/* float: left; */
	/*width: -webkit-fill-available;*/
	/*display: inline-block;*/
}
.giveacoin-modal .Select, .giveacoin-modal .Select div, .giveacoin-modal .Select input, .giveacoin-modal .Select span {
	text-align: left;
	font-size: 15px;
}
.giveacoin-modal .Select input {
	height: 20px;
}
.giveacoin-modal .Select .Select-control,
.giveacoin-modal .Select .Select-control:hover {
	border: 0;
	box-shadow: none;
}
.giveacoin-modal #nav-giver .coinfrontback-container {
	margin-top: 20px;
	margin-bottom: 20px;
}
.giveacoin-modal .modal-footer a.pull-left {
	position: absolute;
	left: 18px;
}
