.modal .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.modal .col, .modal .col-1, .modal .col-10, .modal .col-11, .modal .col-12, .modal .modal .col-2, .modal .col-3, .modal .col-4, .modal .col-5, .modal .col-6, .modal .col-7, .modal .col-8, .modal .col-9, .modal .col-auto, .modal .col-lg, .modal .col-lg-1, .modal .col-lg-10, .modal .col-lg-11, .modal .col-lg-12, .modal .col-lg-2, .modal .col-lg-3, .modal .col-lg-4, .modal .col-lg-5, .modal .col-lg-6, .modal .col-lg-7, .modal .col-lg-8, .modal .col-lg-9, .modal .col-lg-auto, .modal .col-md, .modal .col-md-1, .modal .col-md-10, .modal .col-md-11, .modal .col-md-12, .modal .col-md-2, .modal .col-md-3, .modal .col-md-4, .modal .col-md-5, .modal .col-md-6, .modal .col-md-7, .modal .col-md-8, .modal .col-md-9, .modal .col-md-auto, .modal .col-sm, .modal .col-sm-1, .modal .col-sm-10, .modal .col-sm-11, .modal .col-sm-12, .modal .col-sm-2, .modal .col-sm-3, .modal .col-sm-4, .modal .col-sm-5, .modal .col-sm-6, .modal .col-sm-7, .modal .col-sm-8, .modal .col-sm-9, .modal .col-sm-auto, .modal .col-xl, .modal .col-xl-1, .modal .col-xl-10, .modal .col-xl-11, .modal .col-xl-12, .modal .col-xl-2, .modal .col-xl-3, .modal .col-xl-4, .modal .col-xl-5, .modal .col-xl-6, .modal .col-xl-7, .modal .col-xl-8, .modal .col-xl-9, .modal .col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.modal .col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}
.modal .col-8 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}
@media (min-width: 576px) {
	.imagecrop.modal .col-sm-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
.modal .modal-dialog.modal-md {
	max-width: 500px;
	margin: 1.75rem auto;
}
.modal .modal-content .nav-tabs {
	width: 100%;
}
.modal .modal-footer {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.modal .modal-footer .btn,
.modal .modal-footer .btn:focus {
	margin: inherit;
}
.modal .close {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 1rem;
}
.modal .close:focus {
	outline: none;
}
.modal h4.modal-title, {
	font-size: 16px;
}
.modal h5.modal-title {
	font-size: 20px;
}
.modal h4 {
	font-size: 16px;
}
.modal .container-fluid {
	padding: 0;
}
.modal .row {
	margin-right: 0;
	margin-left: 0;
}
.modal .row:before {
	content: none;
}
.modal .btn {
	border-radius: 50px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 80px;
}
.modal .form-control:focus {
	border-color: #ced4da;
	box-shadow: none;
}
.modal .btn,
.modal .btn:hover,
.modal .btn:focus,
.modal .btn:active,
.modal .btn:not([disabled]):not(.disabled).active:focus,
.modal .btn:not([disabled]):not(.disabled):active:focus,
.modal .show > .btn.dropdown-toggle:focus {
	outline: 0;
	box-shadow: none;
}
.modal .btn.btn-light,
.modal .btn.btn-light:hover,
.modal .btn.btn-light:focus,
.modal .btn.btn-light:active,
.modal .btn-light:not([disabled]):not(.disabled).active,
.modal .btn-light:not([disabled]):not(.disabled):active,
.modal .show > .btn-light.dropdown-toggle {
	background: #fff;
}
.modal .btn.btn-primary,
.modal .btn.btn-primary:hover,
.modal .btn.btn-primary:focus,
.modal .btn.btn-primary:active {
	background-color: #377ef7;
	border-color: #377ef7;
}
.modal .fade.show,
.modal .tooltip.show {
	opacity: 1;
}
.modal .form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.custom-control .custom-control-label span {
	display: block;
	margin-top: 5px;
}
.dropdown.show {
	display: inline-block !important;
}
.modal {
	position: absolute;
	overflow-y: auto;
}
.modal .modal-header .modal-title {
	width: 100%;
}
.modal .vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}
.modal .vertical-align-center {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
	transform: translate(0, 0) !important;
}
.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width: inherit;
	max-width: inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
	height: inherit;
	/* To center horizontally */
	margin: 0 auto;
	pointer-events: all;
}
.modal .modal-content {
	border: 0;
	border-radius: 10px;
}
.modal .modal-content .modal-body p {
	font-size: 16px;
}
.modal .modal-content .nav-tabs {
	border: 0;
	border-radius: 10px;
}
.modal .modal-footer {
	border: 0;
	padding-top: 0;
}
.modal .modal-footer .btn {
	min-width: 100px;
}
.modal .img-align-btmLeft {
	position: absolute;
	left: 0;
	bottom: 0;
}
.modal .modal-coin-container {
	margin: 1.5em 0;
}
.modal .custom-control {
	position: relative;
	display: block;
	min-height: 25px;
	padding-left: 25px;
}
.modal input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}
.modal label {
	font-weight: normal;
}
.modal .custom-control-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.modal .custom-control-label {
	margin-bottom: 0;
}
.modal .custom-control .custom-control-label span {
	display: block;
	margin-top: 5px;
}
.modal .custom-checkbox .custom-control-label::before {
	border-radius: .25rem;
}
.modal .custom-control-label::before {
	position: absolute;
	top: 6px;
	left: 0;
	display: block;
	width: 15px;
	height: 15px;
	pointer-events: none;
	content: "";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #dee2e6;
}
.modal .custom-control-label::after {
	position: absolute;
	top: .25rem;
	left: 0;
	display: block;
	width: 1rem;
	height: 1rem;
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
@keyframes throbPulse {
	0% {
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
	}
	50% {
		transform: scale(1.3, 1.3);
		-webkit-transform: scale(1.3, 1.3);
	}
	100% {
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
	}
}
.animate-pulse {
	-webkit-animation: throbPulse 1s linear infinite;
	animation: throbPulse 1s linear infinite;
}
/*** Give a Coin ***/
.giveacoin-modal { }
.giveacoin-modal .carousel .carousel-inner {
	width: 95%;
	margin: auto;
}
.giveacoin-modal #nav-intro .modal-body {
	height: 380px;
}
@media (max-width: 767.98px) {
	.giveacoin-modal .carousel-control-next,
	.giveacoin-modal .carousel-control-prev {
		width: 2%;
	}
}
@media (min-width: 768px) {
	.giveacoin-modal .carousel .carousel-inner {
		width: 75%;
	}
}
.giveacoin-modal .carousel .carousel-control-prev,
.giveacoin-modal .carousel .carousel-control-next {
	color: #cacaca;
	font-size: 25px;
}
.giveacoin-modal .input-group .input-group-prepend {
	margin-right: -4px;
}
.giveacoin-modal .input-group .input-group-prepend .input-group-text {
	background: transparent;
	padding-right: 0;
	font-weight: bold;
}
.giveacoin-modal .input-group .form-control {
	border-left: 0;
	height: 40px;
}
.giveacoin-modal #nav-message textarea {
	margin-bottom: 10px;
}
.giveacoin-modal #nav-message label input[type="checkbox"] {
	transform: scale(1.2);
	margin-right: 5px;
}
.giveacoin-modal #nav-giver .modal-body {
	min-height: 350px;
}
.giveacoin-modal #nav-giver .giver-main-img {
	width: 250px;
}
/*** Auction Coin ***/
.auctioncoin-modal .input-group .input-group-prepend .input-group-text {
	background: transparent;
	padding-right: 0;
	font-weight: bold;
}
.auctioncoin-modal .input-group .form-control {
	border-left: 0;
	border-radius: 0 5px 5px 0;
}
.mac-platform .auctioncoin-modal .input-group select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0 5px 5px 0; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-moz-border-radius: 0 5px 5px 0;; /* Firefox 1-3.6 */
	border-radius: 0 5px 5px 0;;
}
#activityModal .close {
	position: absolute;
	right: 15px;
}
#activityModal .modal-title {
	width: 100%;
}
#activityModal .kredInfluence-item-header h5 {
	font-size: 14px;
}
.coin-wrapper {
	transform: scale(0.9, 1);
}
.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 30px;
	margin-bottom: 0;
	vertical-align: bottom;
}
.switch input { display: none; }
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #377ef7;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
input:checked + .slider {
	background-color: #377ef7;
}
input:focus + .slider {
	box-shadow: 0 0 1px #377ef7;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
