#app_coinkred {
    font-family: "Helvetica Neue Thin", Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #666666;
    font-size: 13px;
    background: #fff;
}
.modal {
    font-family: "Helvetica Neue Thin", Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #666666;
    font-size: 13px;
}
select, .badge, .nav-tabs {
    color: #666666;
}
/*h2 {*/
/*font-size: 22px;*/
/*}*/
h2 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
.container {
    padding: 0;
}
.container-fluid {
    padding: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.row:before {
    content: none;
}
.btn {
    border-radius: 50px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 80px;
}
.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.form-control[name="search"] {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    height: 37px;
    border-bottom: 2px solid transparent;
}
.form-control[name="search"]:focus {
    border-bottom: 2px solid #007bff;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn:not([disabled]):not(.disabled).active:focus,
.btn:not([disabled]):not(.disabled):active:focus,
.show>.btn.dropdown-toggle:focus {
    outline: 0;
    box-shadow: none;
}
.btn.btn-light,
.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn-light:not([disabled]):not(.disabled).active,
.btn-light:not([disabled]):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    background: #fff;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    background-color: #377ef7 !important;
    border-color: #377ef7 !important;
    color: #ffffff !important;
}
.btn.btn-primary-secondary,
.btn.btn-primary-secondary:hover,
.btn.btn-primary-secondary:focus,
.btn.btn-primary-secondary:active {
    background-color: transparent !important;
    border: 1px solid #377ef7 !important;
    color: #377ef7 !important;
}
.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}
.btn.btn-outline-secondary:hover {
    color: #ffffff !important;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.page-toggle.btn-group .btn {
    font-size: 13px;
    padding: 7px 4px;
    border-radius: 5px;
    min-width: 70px;
    text-transform: none;
    height: 34px;
}
a[title="Back"] {
    color: #007bff !important;
    font-size: 15px;
}
.page-toggle.btn-group .btn-primary:not(.active) {
    color: #495057 !important;
    background: #ffffff !important;
    border-color: #377ef7 !important;
}
.page-toggle.btn-group>.btn-group:not(:first-child)>.btn, .page-toggle.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.fas.fa-spinner.fa-spin {
    color: #cacaca;
    font-size: 20px;
}
@media (max-width: 767.98px) {
    .page-toggle.btn-group {
        width: 100%;
    }
    .page-toggle.btn-group>.btn {
        width: 50%;
    }
}
.show {
    display: block !important;
}
.dropdown.show {
    display: inline-block !important;
}
.hide {
    display: none;
}
.visible-xs, td.visible-xs, th.visible-xs, tr.visible-xs {
    display: none !important;
}
.custom-control .custom-control-label span {
    display: block;
    margin-top: 5px;
}
@media (max-width: 767.98px) {
    .hidden-xs, td.hidden-xs, th.hidden-xs, tr.hidden-xs {
        display: none !important;
    }
}
.alert-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.alert {
    position: relative;
    padding: 0.7em 5em 0.7em 1em;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-image: none;
    background-color: rgba(30, 30, 30, 0.97);
    border-radius: 0;
    cursor: pointer;
    min-width: 50%;
    max-width: 800px;
    margin: auto;
    border-left: 0;
}
.alert .alert-text {}
.alert .fa-times {
    position: absolute;
    right: 1.5em;
    color: #fff;
    line-height: 1.3em;
}
.alert-success {
    color: #fff;
    background: #3fab5b;
}
.alert-success a.alert-link {
    color: #fff;
    text-decoration: none;
}
.alert-info {
    color: #fff;
    background: #4587b4;
}
.alert-warning {
    color: #fff;
    background: #e18025;
}
.alert-danger {
    color: #fff;
    background: #ab433f;
}
.alert.alert-dismissible .close {
    padding: 9px 15px;
}
@media (min-width: 768px) {
    .alert-container {
        top: 20px;
    }
    .alert {
        border-radius: 4px;
    }
}
.modal-open .modal {
    opacity: 1;
    overflow-y: auto !important;
}
.modal-open .modal-backdrop.fade {
    opacity: 0.5;
}
.modal .modal-header .modal-title {
    width: 100%;
    font-size: 1.25rem;
}
.modal .close {
    padding: 7px 20px;
    opacity: 0.8;
    font-size: 25px;
}
.modal .close:focus {
    outline: none;
}
/*@media (min-width: 768px) {*/
.modal .vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.modal .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, 0) !important;
}
/*}*/
@media (min-width: 576px) {
    .modal-dialog {
        width: 100%;
    }
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    max-width: inherit;
    /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.modal .modal-content {
    border: 0;
    border-radius: 10px;
}
.modal-body {
    padding: 15px;
}
.modal .modal-content .modal-body p {
    font-size: 16px;
}
.modal .modal-content .nav-tabs {
    border: 0;
    border-radius: 10px;
}
.modal .modal-footer {
    border: 0;
    padding-top: 0;
}
.modal .modal-footer .btn {
    min-width: 100px;
}
.modal .img-align-btmLeft {
    position: absolute;
    left: 0;
    bottom: 0;
}
.modal .modal-coin-container {
    margin: 1.5em 0;
}
@media (max-width: 767.98px) {
    .modal-open .modal {}
    .modal .modal-content {
        border-radius: 0;
        width: 100%;
        min-height: 100vh;
    }
    .modal-open .modal.show .modal-dialog {
        margin: 0;
    }
}
@keyframes throbPulse {
    0% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    50% {
        transform: scale(1.3, 1.3);
        -webkit-transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
}
.animate-pulse {
    -webkit-animation: throbPulse 1s linear infinite;
    animation: throbPulse 1s linear infinite;
}
/****** UNB ******/
#app_coinkred>div.navbar-wrapper {
    height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 4;
}
#app_coinkred .navbar-top-links ul.dropdown-menu {
    right: 0;
    left: auto;
}
#app_coinkred .dropdown-menu.list-group:not(.show) {
    display: none;
}
#app_coinkred .navbar-collapse.collapse {
    display: block;
}
@media (max-width: 767.98px) {
    #app_coinkred .navbar-collapse.collapse {
        display: none;
    }
}
#app_coinkred .navbar-top-links .dropdown-toggle::after {
    display: none;
}
#app_coinkred.top-navigation .navbar-top-links li.nav_activity .activity-left>span:first-child {
    margin-top: 5px;
}
#app_coinkred.top-navigation .navbar-top-links li.nav_activity .activity-left>span {
    line-height: 20px;
}
#app_coinkred #activityModal .close {
    position: absolute;
    right: 15px;
}
#app_coinkred #activityModal .modal-title {
    width: 100%;
}
#app_coinkred #activityModal .kredInfluence-item-header h5 {
    font-size: 14px;
}
#app_coinkred .coin-wrapper {
    transform: scale(0.9, 1);
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
}
#app_coinkred.iti-mobile .carousel .carousel-item,
#app_coinkred.iphone-platform .carousel .carousel-item,
#app_coinkred.safari-browser .carousel .carousel-item {
    transition: ease-in;
    transition-delay: .25s;
    transition-duration: .25s;
}
#app_coinkred.iti-mobile .carousel .carousel-item.active,
#app_coinkred.iphone-platform .carousel .carousel-item.active,
#app_coinkred.safari-browser .carousel .carousel-item.active {
    transition: ease-out;
    transition-delay: .1s;
    transition-duration: .25s;
}
#app_coinkred.iti-mobile .coinprofile-modal .carousel .carousel-item,
#app_coinkred.iphone-platform .coinprofile-modal .carousel .carousel-item,
#app_coinkred.safari-browser .coinprofile-modal .carousel .carousel-item {
    transition: ease;
    transition-delay: unset;
    transition-duration: unset;
}
@media (max-width: 767.98px) {
    #app_coinkred .nav-tabs .nav-action-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: transparent;
        z-index: 5;
        padding: 10px;
    }
    #app_coinkred .nav-tabs .nav-action-container button {
        display: block;
        font-size: 15px;
        width: 100%;
        margin: auto;
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    margin-bottom: 0;
    vertical-align: bottom;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #377ef7;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked+.slider {
    background-color: #377ef7;
}
input:focus+.slider {
    box-shadow: 0 0 1px #377ef7;
}
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#app_coinkred:not(.safari-browser) .fade-in-1 {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
#app_coinkred:not(.safari-browser) .fade-in-2 {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}
#app_coinkred:not(.safari-browser) .fade-in-3 {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
}
.coinfrontback-container .front-coin {
    position: absolute;
    z-index: 2;
}
.coinfrontback-container .back-coin {
    position: absolute;
    z-index: 1;
    right: 0;
}
.coinfrontback-container .back-coin:hover {
    z-index: 2;
}
.coin-preview #nav-intro a.pulse {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    animation: pulse 2s infinite;
}
.coin-preview #nav-intro a.pulse:hover {
    animation: none;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
#app_coinkred .heart {
    cursor: pointer;
    height: 42px;
    width: 60px;
    display: inline-block;
    margin: -13px -15px;
    background-image: url('https://static.socialos.net/inspinia/html/crypto/images/like-animation.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
}
@media (min-width: 768px) {
    #app_coinkred .heart {
        height: 37px;
        width: 50px;
    }
}
#app_coinkred .heart.large-heart {
    height: 50px;
    width: 64px;
    margin: -19px -20px;
}
#app_coinkred .heart:hover,
#app_coinkred .heart.liked {
    background-position: right;
}
#app_coinkred .is_animating {
    animation: heart-burst .8s steps(28) 1;
}
@keyframes heart-burst {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}