.KYCCheck-container {
	max-width: 720px;
	margin: 0 auto 1em;
}
.KYCCheck-container label {
	font-weight: 500;
}
.KYCCheck-container .btn {
	font-size: 12px;
}
.iti-flag {
	background-image: url("https://static.socialos.net/inspinia/html/crypto/images/flags.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.iti-flag {
		background-image: url("https://static.socialos.net/inspinia/html/crypto/images/flags@2x.png");
	}
}