.KYCUpload-container {
	max-width: 720px;
	margin: 0 auto 1em;
}
.KYCUpload-container .alert {
	color: #666;
	background-color: #cce5ff;
	border-color: #b8daff;
	max-width: 100%;
	cursor: auto;
	font-size: 12px;
	margin: 15px 0;
}
.KYCUpload-container .form-group:first-child {
	border-top: 1px solid #f1f1f1;
}
.KYCUpload-container .form-group {
	border-bottom: 1px solid #f1f1f1;
	padding: 10px 0 20px;
	margin: 0 0 10px;
}
.KYCUpload-container .optional-files .form-group {
	border: none;
	padding: 0.5em 0;
	margin: 0;
}
.KYCUpload-container .form-group .file-name {
	display: inline-block;
	margin: 0 10px;
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: text-bottom;
}
.modal .modal-content .modal-body .KYCUpload-container .form-group p {
	font-size: 12px;
}
.KYCUpload-container .form-group .custom-radio-group {
	margin-bottom: 10px;
}
.KYCUpload-container input[type="file"] {
	display: none;
}
.KYCUpload-container button[type="submit"] {
	margin-bottom: 10px;
}