.marketplace-container {
    max-width: 1280px;
    margin: 10px auto;
}
.marketplace-container .tab-content {
    padding: 0 10px;
}
.marketplace-container h3 {
    font-size: 14px;
    margin-bottom: 20px;
}
.marketplace-container .marketplace-title {
    display: inline-block;
    /*margin: 10px 0 10px 10px;*/
}
.marketplace-container .marketplace-title .badge {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
    font-weight: normal;
    padding: 6px 15px;
    box-shadow: 0 0 2px 0 rgba(102, 102, 102, 0.5);
    background: #fff;
    vertical-align: bottom;
}
.marketplace-container .alert {
    max-width: 100%;
    color: #ffffff;
    border-radius: 0;
    margin: 15px 0 0;
    background: #377ef7;
    padding: 15px;
}
.marketplace-container .alert .btn {
    position: absolute;
    top: 9px;
    right: 9px;
    border-color: #fff;
    color: #fff;
    letter-spacing: 1px;
    padding: 3px 10px;
}
.marketplace-container .marketplace-tabs-container {
    position: relative;
    margin-bottom: 15px;
}
.marketplace-container .form-group {
    margin-bottom: 0;
}
.marketplace-container .search-group {
    height: 40px;
    margin-bottom: 5px;
}
.marketplace-container .search-group .input-group-text {
    background: transparent;
    border-radius: 0;
    padding-right: 0;
    font-size: 14px;
}
.marketplace-container .search-group .form-control {
    height: 40px;
    border-radius: 0;
    border-left: 0;
    font-size: 14px;
}
.marketplace-container .marketplace-tabs-container .form-row {
    z-index: 3;
}
@media (max-width: 767.98px) {
    .marketplace-container .marketplace-tabs-container {
        border-bottom: 1px solid #cacaca;
        margin-bottom: 10px;
    }
    .marketplace-container .marketplace-tabs-container .form-row {
        /*margin-bottom: 10px;*/
    }
}
@media (min-width: 769px) {
    .marketplace-container .marketplace-tabs-container .form-row {
        position: inherit;
        border-bottom: 1px solid #cacaca;
    }
}
.marketplace-container .marketplace-tabs-container .basic-single {
    height: 37px;
}
.marketplace-container .marketplace-tabs-container .form-control:not(select) {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    height: 37px;
    display: flex;
    border-bottom: 2px solid transparent;
}
.marketplace-container .marketplace-tabs-container .form-control:not(select):focus {
    border-bottom: 2px solid #007bff;
}
.marketplace-container .marketplace-tabs-container .basic-single>.select__control {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    height: 37px;
    border-bottom: 2px solid transparent;
    display: flex;
    background: transparent;
}
.marketplace-container .marketplace-tabs-container .basic-single>.select__control .select__indicators {
    display: none;
}
.marketplace-container .marketplace-tabs-container .basic-single>.select__control .select__value-container {
    font-size: 14px;
    height: 37px;
}
@media (min-width: 769px) {
    .marketplace-container .marketplace-tabs-container .basic-single>.select__control .select__value-container {
        font-size: 16px;
    }
}
.marketplace-container .marketplace-tabs-container .select__control.select__control--is-focused {
    border-bottom: 2px solid #007bff;
}
.marketplace-container .marketplace-tabs-container .basic-single .select__menu,
.marketplace-container .marketplace-tabs-container .basic-single .select__menu .select__menu-list {
    z-index: 99999;
}
.marketplace-container .marketplace-tabs-container .marketplace-sort.form-control:not([size]):not([multiple]) {
    height: 34px;
}
.marketplace-container .marketplace-tabs-container .nav-tabs {
    background: none;
    height: 37px;
    border-color: #cacaca;
}
.marketplace-container .marketplace-tabs-container .nav-tabs .nav-link,
.marketplace-container .marketplace-tabs-container .nav-tabs .nav-link:hover,
.marketplace-container .marketplace-tabs-container .nav-tabs .nav-link:focus {
    color: #666;
    background: none;
    border: 0;
    border-bottom: 2px solid transparent;
    font-size: inherit;
}
.marketplace-container .marketplace-tabs-container .nav-tabs .nav-link.active {
    border: 0;
    border-bottom: 2px solid #007bff;
}
.marketplace-container .marketplace-tabs-container .nav>li.active a {
    background: none;
    border: 0;
    color: #666;
}
.marketplace-container .marketplace-tabs-container .nav-tabs .nav-item {
    width: auto;
    display: none;
}
.marketplace-container .marketplace-tabs-container .nav-tabs .nav-item.active {
    background: transparent;
}
.marketplace-container .marketplace-tabs-container .form-group .fa-search {
    padding: 10px;
    cursor: pointer;
}
.marketplace-container .marketplace-tabs-container .form-group .fa-sort-amount-down {
    padding: 10px;
    cursor: pointer;
}
.marketplace-container .marketplace-tabs-container .fa-search,
.marketplace-container .marketplace-tabs-container .fa-filter,
.marketplace-container .marketplace-tabs-container .fa-sort-amount-down {
    font-size: 18px;
    padding: 8px 10px;
    color: #cacaca;
    cursor: pointer;
}
.marketplace-container .marketplace-tabs-container .fa-search.selected,
.marketplace-container .marketplace-tabs-container .fa-filter.selected,
.marketplace-container .marketplace-tabs-container .fa-sort-amount-down.selected {
    color: #666666;
}
.marketplace-container .carousel-item .coin-item {
    margin: 5px auto;
}
.marketplace-container .editcoinmeta-container .col-12,
.marketplace-container .giveaway-container .col-12 {
    padding: 0;
}
@media (max-width: 767.98px) {
    .marketplace-container .marketplace-tabs-container .nav-tabs .nav-item {
        display: inline-block;
    }
    .marketplace-container .marketplace-tabs-container .nav-tabs .nav-item .nav-link {
        height: 49px;
        padding: 15px;
    }
    body .marketplace-container .marketplace-tabs-container .nav-tabs {
        width: 100%;
        overflow-x: auto;
        height: 50px;
        /*margin-top: 5px;*/
        overflow-y: hidden;
        display: inline-block;
        white-space: nowrap;
        text-align: center;
    }
    body .marketplace-container .marketplace-tabs-container .nav-tabs::-webkit-scrollbar {
        height: 0;
        /* remove scrollbar space */
        background: transparent;
        /* optional: just make scrollbar invisible */
    }
    /*body:not(.iphone-platform) .marketplace-container .marketplace-tabs-container .nav-tabs .nav-item .nav-link {*/
    /*padding: 10px 0;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*}*/
    /*body:not(.iphone-platform) .marketplace-container .marketplace-tabs-container .nav-tabs .nav-item {*/
    /*width: 20%;*/
    /*}*/
    /*body:not(.iphone-platform) .marketplace-container .marketplace-tabs-container .nav-tabs .nav-item:nth-child(2),*/
    /*body:not(.iphone-platform) .marketplace-container .marketplace-tabs-container .nav-tabs .nav-item:nth-child(3) {*/
    /*width: 30%;*/
    /*}*/
    body .marketplace-container .marketplace-tabs-container .nav-tabs.is-user-collection .nav-item {
        width: auto;
    }
    .marketplace-container .marketplace-tabs-container .form-control:not(select) {
        height: 50px;
    }
    .marketplace-container .marketplace-tabs-container .marketplace-sort.form-control:not([size]):not([multiple]) {
        height: 49px;
    }
    .marketplace-container .marketplace-tabs-container .fa-search,
    .marketplace-container .marketplace-tabs-container .fa-filter,
    .marketplace-container .marketplace-tabs-container .fa-sort-amount-down {
        padding: 14px 10px 14px 20px;
    }
    .marketplace-container .marketplace-tabs-container .carousel-item .coin-item {
        margin: auto;
    }
}