.newsfeed-container {
	max-width: 1280px;
	margin: auto;
	/*padding: 0 10px;*/
}
.newsfeed-container .row {
	/*padding: 10px 0;*/
}
.newsfeed-container .newsfeed-heading {
	margin-bottom: 1em;
}
@media (min-width: 768px) {
	.newsfeed-container .newsfeed-tabs-container .form-row {
		position: absolute;
		right: 8px;
		top: 0;
		width: 50%;
	}
}
.newsfeed-container .newsfeed-tabs-container {
	position: relative;
}
@media (max-width: 767.98px) {
	.newsfeed-container .newsfeed-tabs-container .tab-content {
		padding: 0 5px;
	}
}
.newsfeed-container .newsfeed-tabs-container .nav-tabs {
	background: none;
	height: 37px;
	border-color: #cacaca;
}
.newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-link,
.newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-link:hover,
.newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-link:focus {
	color: #666;
	background: none;
	border: 0;
	border-bottom: 2px solid transparent;
	font-size: inherit;
	border-radius: 0;
}
.newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-link.active {
	border: 0;
	border-bottom: 2px solid #007bff;
}
.newsfeed-container .newsfeed-tabs-container .nav > li.active a {
	background: none;
	border: 0;
	color: #666;
}
.newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-item {
	width: auto;
	display: none;
}
@media (max-width: 767.98px) {
	.newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-item .nav-link {
		height: 49px;
		padding: 15px;
	}
	.newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-item {
		display: inline-block;
	}
	body .newsfeed-container .newsfeed-tabs-container .nav-tabs {
		width: 100%;
		overflow-x: auto;
		height: 50px;
		/*margin-top: 5px;*/
		overflow-y: hidden;
		display: inline-block;
		white-space: nowrap;
		text-align: center;
	}
	body .newsfeed-container .newsfeed-tabs-container .nav-tabs::-webkit-scrollbar {
		height: 0; /* remove scrollbar space */
		background: transparent; /* optional: just make scrollbar invisible */
	}
	/*body:not(.iphone-platform) .newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-item .nav-link {*/
		/*padding: 10px 0;*/
		/*text-overflow: ellipsis;*/
		/*overflow: hidden;*/
	/*}*/
	/*body:not(.iphone-platform) .newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-item {*/
		/*width: 20%;*/
	/*}*/
	/*body:not(.iphone-platform) .newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-item:nth-child(2),*/
	/*body:not(.iphone-platform) .newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-item:nth-child(3) {*/
		/*width: 30%;*/
	/*}*/
	body .newsfeed-container .newsfeed-tabs-container .nav-tabs.is-user-collection .nav-item {
		width: auto;
	}
}
.newsfeed-container .newsfeed-tabs-container .nav-tabs .nav-item.active {
	background: transparent;
}
.newsfeed-container .form-group {
	margin-bottom: 0;
}
.newsfeed-container .newsfeed-sort.form-control:not([size]):not([multiple]) {
	height: 34px;
}
.newsfeed-container .page-toggle.btn-group.newsfeed-tabs {
	margin: 10px 0;
}
@media (max-width: 767.98px) {
	.newsfeed-container .page-toggle.btn-group.newsfeed-tabs > .btn {
		width: 25%;
	}
}
.newsfeed-container .coinprofile-comments .coinprofile-comments-item-container > .coinprofile-comments-item,
.newsfeed-container .coinprofile-comments .coinprofile-comments-item .coinprofile-comments-overflow form {
	margin: 10px 10px 10px 70px;
}