.settings-container .modal-dialog {
	z-index: 1;
}
.settings-container .modal-content {
	box-shadow: none;
	border: 0;
}
.settings-container .modal-title {
	margin: auto;
}
.settings-container .upload-avatar label {
	width: 110px;
	height: 110px;
	text-align: center;
	display: block;
	margin: 0 auto 1em;
	border-radius: 100%;
	color: #ced4da;
	border: 1px solid #ced4da;
	padding: 33px 25px;
	cursor: pointer;
}
.settings-container .avatar-input {
	display: none;
}
.settings-container .avatar-background {
	background-size: cover;
}
.settings-container .intl-tel-input { width: 100%; }
.settings-container .iti-flag {
	background-image: url("/inspinia/html/crypto/images/flags.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.settings-container .iti-flag {
		background-image: url("/inspinia/html/crypto/images/flags@2x.png");
	}
}