.transactionhistory-modal { }
.transactionhistory-modal .transaction-number {
	width: 25px;
}
.transactionhistory-modal .row > div {
	padding: 0 5px;
}
.transactionhistory-modal .row > div.col-8 {
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	max-width: 60%;
}
.transactionhistory-modal .row > div.col-2 {
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
}
.transactionhistory-modal .transaction-item a {
	color: #377ef7;
}
.transactionhistory-modal .transaction-table {
	table-layout: fixed;
	width: 100%;
}
.transactionhistory-modal th {
	font-size: 16px;
	padding: 5px;
	width: 6.2em;
}
.transactionhistory-modal th:nth-child(1) {
	width: auto;
}
.transactionhistory-modal td {
	font-size: 14px;
	padding: 5px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (min-width: 768px) {
	.transactionhistory-modal td {
		white-space: nowrap;
	}
	.transactionhistory-modal th {
		width: 8.2em;
	}
}
.transactionhistory-modal .transaction-container {
	max-height: 500px;
	overflow-y: auto;
}
.transactionhistory-modal .transaction-item:nth-child(2n - 1) {
	background: #f1f1f1;
}