.signup-modal {
	display: none;
	background: rgba(0, 0, 0, 0.7);
	z-index: 9999999 !important;
}
.iphone-platform .signup-modal.modal {
	position: absolute;
}
.signup-modal .modal-dialog {
	margin-top: 30vh!important;
}
@media (min-width: 576px) {
	.signup-modal .modal-sm {
		max-width: 400px;
	}
}
@media (min-width: 768px) {
	.signup-modal {
		background: rgba(0, 0, 0, 0.6);
	}
	.signup-modal .modal-dialog {
		margin-top: 15vh!important;
	}
}
@media (max-width: 767.98px) {
	.modal-open .signup-modal.modal.show .modal-dialog {
		margin: auto;
	}
}

.signup-modal .modal-content {
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 5px;
}
.signup-modal .btn.btn-primary,
.signup-modal .btn.btn-primary:hover {
	background: #377ef7;
	border-radius: 20px;
	border: #377ef7;
	text-transform: uppercase;
}
.signup-modal .close {
	color: #ddd;
	opacity: 0.8;
	position: absolute;
	right: 0;
	top: -27px;
	z-index: 2;
}
.signup-modal .signup-modal-logo img {
	width: 100%;
	margin-bottom: 2em;
}
.signup-modal .login-signup-tabs {
	font-size: 18px;
	text-align: center;
	margin-bottom: 25px;
}
.signup-modal .login-signup-tabs a,
.signup-modal .login-signup-tabs a:hover,
.signup-modal .login-signup-tabs a:focus {
	border-bottom: 2px solid transparent;
	padding: 8px 0;
	margin: 0 8px;
	text-decoration: none;
	color: #fff;
}
.signup-modal .login-signup-tabs a.active-tab {
	border-bottom: 2px solid #007bff;
}
.branding-image-page-background .signup-modal h2 {
	font-weight: 200;
}
.signup-modal h2 {
	color: #fff;
	font-size: 25px;
	font-weight: 100;
	margin-bottom: 15px;
}
.signup-modal h2,
.signup-modal h3,
.signup-modal h4 {
	color: #fff;
}
.signup-modal h2,
.signup-modal h3 {
	font-size: 22px;
}
.signup-modal p {
	color: #fff;
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 500;
}
.signup-modal .form-group label,
.signup-modal .form-group p {
	color: #fff;
}
.signup-modal p.text-danger {
	color: red;
	text-align: center;
}
.signup-modal a,
.signup-modal a:focus {
	color: #ffffff;
	text-decoration: none;
	padding: 5px;
}
.signup-modal .forgot-password a,
.signup-modal .forgot-password a:focus {
	color: #c8c8c8;
	text-decoration: none;
}
.signup-modal .login-icons p {
	margin-bottom: 1em;
}
.signup-modal .confirm-text p:last-child {
	margin-top: 0;
}
.signup-modal .login-icons {
	margin-bottom: 2em;
}
.signup-modal .login-icons .login-button {
	cursor: pointer;
	text-decoration: none;
	margin: 0 6px;
}
.signup-modal .login-icons .login-button i {
	font-size: 32px;
}
.signup-modal .login-icons .login-button .fa-twitter,
.signup-modal .login-icons .login-button .fa-linkedin,
.signup-modal .login-icons .login-button .fa-facebook,
.signup-modal .login-icons .login-button .fa-instagram,
.signup-modal .login-icons .login-button .fa-product-hunt,
.signup-modal .login-icons .login-button .fa-google {
	color: #fff;
}
.signup-modal button {
	margin: 1.5em 0;
}
.signup-modal .well {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #ffffff;
	margin-top: 2em;
	padding: 10px;
}
.signup-modal .form-group {
	margin: 15px auto;
}
.signup-modal .form-control,
.signup-modal .form-control:focus {
	background: rgba(255, 255, 255, 0.3) !important;
	border: 0;
	height: 34px !important;
	color: #fff !important;
}
.signup-modal .form-control option {
	color: #666 !important;
}
.signup-modal .form-control::placeholder {
	color: #f1f1f1;
}
.signup-modal .nav-tabs {
	border: none;
}
.signup-modal li:not(.country) {
	float: none;
	display: inline-block;
}
.signup-modal li a {
	color: #fff;
	background-color: transparent;
	padding: 8px;
	border-radius: 3px;
	margin-top: 10px;
}
.signup-modal .tab-pane[id^="connect"],
.signup-modal .tab-pane#superConnected {
	height: 435px;
	position: relative;
}
.signup-modal .tab-pane[id^="connect"] p,
.signup-modal .tab-pane#superConnected p {
	margin-bottom: 20px;
}
.signup-modal .tab-pane[id^="connect"] .skip-connect {
	margin-top: 20px;
	display: block;
}
.signup-modal .tab-pane[id^="connect"] .points {
	color: #fff;
	background: #337ab7;
	border-radius: 25px;
	position: absolute;
	bottom: 20px;
	right: 0;
	padding: 2px 5px;
	display: none;
}
.signup-modal .tab-pane[id^="connect"] .progress,
.signup-modal .tab-pane#superConnected .progress {
	height: 15px;
	background: #666;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: none;
	left: auto;
	top: auto;
}
.signup-modal .tab-pane[id="newkred"] .intl-tel-input { width: 100%; color: #fff;}
.intl-tel-input.iti-container {
	z-index: 99999999!important;
}
.intl-tel-input .country-list .country-name, .intl-tel-input .country-list .flag-box {
	color: #666666;
}
.iti-flag {
	background-image: url("https://static.socialos.net/inspinia/html/img/flags/flags.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.iti-flag {
		background-image: url("https://static.socialos.net/inspinia/html/img/flags/flags@2x.png");
	}
}
@keyframes progress-bar-stripes {
	from { background-position: 40px 0 }
	to { background-position: 0 0 }
}
.signup-modal .tab-pane .progress-bar.active, .progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}
.signup-modal .tab-pane .progress .progress-bar:not(.progress-bar-warning) {
	background-color: #377ef7;
}
.signup-modal .tab-pane .progress .progress-bar.progress-bar-warning {
	background-color: gold;
}
.signup-modal .tab-pane .progress .progress-bar.progress-bar-striped {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}
.signup-modal .tab-pane .progress .progress-bar.progress-bar-striped.progress-bar-animated {
	-webkit-animation: progress-bar-stripes 1s linear infinite;
	animation: progress-bar-stripes 1s linear infinite;
}
.signup-modal .tab-pane#connectLinkedin .IN-widget .li-connect-widget .li-connect-mark {
	background: url(https://static.licdn.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png) 0 -522px no-repeat !important;
	height: 34px !important;
	width: 34px !important;
}
.signup-modal li a:hover, .signup-modal li a:focus {
	background-color: transparent;
	color: #fff;
}
.signup-modal li.active a:focus, .signup-modal li.active a:hover, .signup-modal li.active a {
	border-bottom-color: white;
	background-color: transparent;
	color: #fff;
}
.signup-modal .signup-checkboxes {
	margin: 1em 5px;
}
.signup-modal .signup-checkboxes p,
.signup-modal .connectteam p {
	margin-top: 0;
	margin-bottom: 20px;
}
.signup-modal #claim-coin-container {
	margin-bottom: 15px;
}
.signup-modal form {
	position: relative;
	padding-bottom: 0;
}
.signup-modal .btn-primary {
	font-size: 14px;
}
.signup-modal small {
	color: #fff;
}
.signup-modal .tsandcs {
	cursor: pointer;
}
.signup-modal input[type="checkbox"] {
	transform: scale(1.5);
	vertical-align: text-bottom;
}
.terms-conditions-modal ol {
	padding: 10px 17px;
}
.signup-modal .nav-tabs > li.active > a,
.signup-modal .nav-tabs > li.active > a:hover,
.signup-modal .nav-tabs > li.active > a:focus {
	cursor: default;
	border: 1px solid #ddd;
}
.signup-modal .connectteam {
	text-align: center;
	margin-bottom: 2em;
}
.signup-modal .connectteam input[type=checkbox] {
	display: none;
}
.signup-modal .connectteam input[type=checkbox] + label {
	display: inline-block;
	color: #FFFFFF;
	margin-bottom: 0;
}
.signup-modal .connectteam input[type=checkbox] + label:after {
	content: "\f05c";
	font-family: FontAwesome;
	font-size: 45px;
}
.signup-modal .connectteam input[type=checkbox]:checked + label:after {
	content: "\f05d";
	font-family: FontAwesome;
	font-size: 45px;
}
.signup-modal .completeprofile .upload-avatar label {
	width: 110px;
	height: 110px;
	text-align: center;
	display: block;
	margin: 1em auto;
	border-radius: 100%;
	color: #fff;
	font-size: 12px;
	padding: 35px 5px;
	background-color: rgba(255, 255, 255, 0.3);
	background-position: center;
	/*background: url('https://claim.kred/img/defaultAvatar.png') center center;*/
	/*background-size: cover;*/
}
.signup-modal .completeprofile .upload-avatar label .overlay {
	color: #f1f1f1;
}
@media (min-width: 768px) {
	.signup-modal .completeprofile,
	.signup-modal .choosedomain,
	.signup-modal .connectwithothers {
		/*width: 400px;*/
		/*margin-left: -50px;*/
	}
}
.signup-modal .completeprofile .avatar-input {
	display: none;
}
.signup-modal .completeprofile .avatar-background {
	background-size: cover;
}
.signup-modal .completeprofile button {
	display: inline-block;
}
.signup-modal .profileurl .profileurl-next[disabled] {
	pointer-events: none;
	cursor: not-allowed;
}
.signup-modal .suggested-container {
	margin: 2em 0;
}
.signup-modal .suggested-container .suggested-item {
	margin: 0.8em 0;
}
.signup-modal .suggested-container .suggested-item .suggested-item-avatar {
	background: #ddd url('https://d30p8ypma69uhv.cloudfront.net/stream/uploads/53756175b7725d370d9a208f_b91f434779e3f4a5f80d4b2373394d83_defaultAvatar.jpg') center center;
	background-size: cover;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 15px;
	vertical-align: top;
	border-radius: 20%;
}
.signup-modal .suggested-container .suggested-item .suggested-item-name {
	display: inline-block;
	width: calc(100% - 135px);
	margin-right: 5px;
	margin-top: 8px;
}
.signup-modal .suggested-container .suggested-item .suggested-item-name p {
	margin-top: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.signup-modal .suggested-container .suggested-item .suggested-item-connect {
	display: inline-block;
	float: right;
}
.signup-modal .suggested-container .suggested-item .suggested-item-connect button {
	background-color: transparent;
	color: #ffffff;
	border-radius: 5px;
	margin-bottom: 0;
	border: 2px solid #ffffff;
}
.signup-modal .socialos-logo {
	position: inherit;
	right: 5px;
	bottom: 5px;
}
.signup-modal .connectwithothers-container .connectwithothers-item-container {
	padding: 0 5px;
	margin-bottom: 10px;
	display: inline-block;
	/*width: 100px;*/
	position: relative;
}
.signup-modal .connectwithothers-container .connectwithothers-item-container label {
	width: 100%;
	background: url('https://d30p8ypma69uhv.cloudfront.net/stream/uploads/53756175b7725d370d9a208f_b91f434779e3f4a5f80d4b2373394d83_defaultAvatar.jpg') no-repeat top center;
	background-size: cover;
	height: 110px;
}
.signup-modal .connectwithothers-container .connectwithothers-item-container input[type="checkbox"] {
	width: auto;
	left: 12px;
	top: 5px;
	position: absolute;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
}
.signup-modal .connectwithothers-container .connectwithothers-item-container p.name {
	display: block;
	height: 15px;
	margin: 0 auto;
	line-height: 1;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.signup-modal .fa-stack.twitter-container .fa-square {
	color: #28a9e0;
}
.signup-modal .fa-stack.linkedin-container .fa-square {
	color: #007bb6;
}
.signup-modal .fa-stack .fa-twitter,
.signup-modal .fa-stack .fa-linkedin {
	color: #fff;
	font-size: 1.3em;
}
.signup-modal .choosedomain .panel {
	background: transparent;
	border: 0;
}
.signup-modal .choosedomain .panel .panel-body {
	padding: 0 15px;
}
.signup-modal .choosedomain .app_widgets_yourDomain-form {
	margin-top: 1em;
	padding-bottom: 0;
}
.signup-modal .choosedomain .app_widgets_yourDomain-form button {
	margin: 1em auto;
}
.signup-modal .choosedomain .form-inline .input-group {
	width: 100%;
}
.signup-modal .choosedomain .form-inline .input-group input,
.signup-modal .choosedomain .form-inline .input-group select {
	width: 100%;
}
.signup-modal .choosedomain .form-inline .input-group select option {
	color: #666;
}
.signup-modal .choosedomain .app_widgets_yourDomain-form .form-inline .input-group input {
	border-radius: 5px 0 0 5px;
}
.signup-modal .choosedomain .form-inline .col-xs-6,
.signup-modal .choosedomain .inputcoupon-container .col-xs-6 {
	padding: 2px;
}
.signup-modal .choosedomain .col-sm-6,
.signup-modal .choosedomain .col-xs-4 {
	padding: 0 5px;
}
.signup-modal .choosedomain .app_widgets_yourDomain-form p {
	display: none;
}
.signup-modal .choosedomain .form-group {
	margin-bottom: 15px;
}
.signup-modal .choosedomain .form-group > div:not(.intl-tel-input) {
	font-size: 0.9em;
	margin-top: 2px;
	color: #999;
	margin-left: 10px;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.signup-modal .choosedomain .app_widgets_domain-phone .intl-tel-input .country-list .country.highlight {
	display: block;
}
.signup-modal .choosedomain .form-group .form-control-feedback {
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 2;
	display: none;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}
.signup-modal .choosedomain .form-group.is-required:not(.has-error):not(.has-success) .form-control-required {
	display: block;
}
.signup-modal .choosedomain .form-group.has-success:not(.has-error) .form-control-success {
	display: block;
}
.signup-modal .choosedomain .form-group.has-error:not(.has-success) .form-control-error {
	display: block;
}
.signup-modal .choosedomain .form-group .help-text { display: none; }
.signup-modal .choosedomain .form-group:not(.has-error) input:focus + div.help-text { display: block; }
.signup-modal .choosedomain .form-group .error-text { display: none; }
.signup-modal .choosedomain .form-group.has-error .error-text { display: block; }
.signup-modal .choosedomain .form-group > div:not(.intl-tel-input) {
	font-size: 0.9em;
	margin-top: 0;
	margin-left: 10px;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.signup-modal .choosedomain .app_widgets_domain-registration,
.signup-modal .choosedomain .app_widgets_domain-payment,
.signup-modal .choosedomain .app_widgets_domain-activate {
	display: none;
}
.signup-modal .choosedomain .app_widgets_domain-paymenth h2 {
	margin: 0;
}
.signup-modal #connectFacebook iframe.connectFacebook-src {
	height: 80px;
	width: 80px;
}
#pb-connect-widget.btn.btn-secondary-light {
	color: #fff;
	border: 2px solid #fff;
	background: transparent;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 100px;
	outline: none;
}
@keyframes pulse {
	0% {
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
		-webkit-transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
		-webkit-transform: scale(1, 1);
	}
}
.points.animate-pulse {
	-webkit-animation: pulse 1s linear infinite;
	animation: pulse 1s linear infinite;
}
.signup-modal .modal-content.nav {
	flex-wrap: inherit;
}